.component-33-6-child,
.mask-group-8 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mask-group-8 {
  height: calc(100% - 55px);
  top: 0;
  bottom: 55px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-33-6-child {
  bottom: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  height: 55px;
}
.about {
  left: calc(50% - 364.5px);
  letter-spacing: 0.57px;
  cursor: pointer;
}
.about,
.programs,
.resources {
  text-decoration: none;
  position: absolute;
  bottom: 14.5px;
  text-transform: uppercase;
  color: inherit;
}
.programs {
  left: calc(50% - 148.5px);
  letter-spacing: 0.57px;
}
.resources {
  left: calc(50% + 105.5px);
  cursor: pointer;
}
.component-33-6-item {
  position: absolute;
  bottom: 3px;
  left: 239px;
  border-right: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 2px;
  height: 51px;
}
.path-33-icon,
.path-34-icon {
  position: absolute;
  bottom: 3.5px;
  left: calc(50% - 227.5px);
  width: 1px;
  height: 50px;
}
.path-34-icon {
  left: calc(50% + 281.5px);
}
.component-33-6-inner {
  position: absolute;
  bottom: 3px;
  left: calc(50% + 26px);
  border-right: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 2px;
  height: 51px;
}
.path-25-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
  opacity: 0.91;
}
.forensics-tta-logo-icon {
  position: absolute;
  top: calc(50% - 24.5px);
  left: 18px;
  width: 257.78px;
  height: 62px;
  object-fit: cover;
}
.component-5-19-child {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-200);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
}
.search-icon {
  position: absolute;
  top: calc(50% - 11.61px);
  left: 18.87px;
  width: 21px;
  height: 21px;
}
.imput-feild {
  border: 1px solid var(--color-darkslateblue-200);
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: calc(100% - 54px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 54px;
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  box-sizing: border-box;
}
.component-5-19 {
  position: absolute;
  top: calc(50% - 20px);
  right: 45px;
  width: 405px;
  height: 41px;
}
.path-25-parent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
}
.highlights-and-events,
.home {
  position: absolute;
  text-transform: uppercase;
}
.highlights-and-events {
  text-decoration: none;
  right: 96.5px;
  bottom: 15.5px;
  color: inherit;
  cursor: pointer;
}
.home {
  bottom: 8.5px;
  left: 0.5px;
  letter-spacing: 0.57px;
}
.group-child,
.home-parent {
  position: absolute;
  width: 59px;
}
.group-child {
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  height: 3px;
}
.home-parent {
  text-decoration: none;
  bottom: 8.25px;
  left: 102.5px;
  height: 35.5px;
  color: inherit;
}
.component-33-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 155px;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
.component-32-12-child,
.component-32-12-item {
  position: absolute;
  width: calc(100% - 31px);
  right: 0;
  left: 31px;
}
.component-32-12-child {
  bottom: 4px;
  background-color: var(--color-white);
  height: 293px;
}
.component-32-12-item {
  top: 0;
  background-color: var(--color-lightsteelblue-100);
  height: 113px;
}
.component-13-42-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
}
.sign-up-for {
  position: absolute;
  top: calc(50% - 17px);
  left: 59px;
  letter-spacing: 1.12px;
  color: var(--color-powderblue);
}
.your-email {
  position: absolute;
  top: calc(50% - 13.5px);
  left: 20px;
}
.your-email-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 60.35px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid #52535c;
  box-sizing: border-box;
  width: 345.04px;
  height: 41px;
  text-align: center;
  font-size: var(--font-size-lgi);
}
.sign-up {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 31.5px);
  text-transform: uppercase;
}
.sign-up-wrapper {
  position: absolute;
  top: calc(50% - 21px);
  right: 80.93px;
  border-radius: var(--br-9xs);
  background-color: var(--color-powderblue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);
  width: 166px;
  height: 41.36px;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
}
.component-13-42 {
  position: absolute;
  width: calc(100% - 52px);
  top: 23px;
  right: 0;
  left: 52px;
  height: 90px;
  font-size: 26px;
  color: var(--color-darkslateblue-300);
}
.component-32-12-inner,
.rectangle-div {
  position: absolute;
  width: calc(100% - 31px);
  right: 0;
  bottom: 0;
  left: 31px;
  background-color: var(--color-lightsteelblue-100);
  height: 299px;
}
.rectangle-div {
  width: calc(100% - 25px);
  right: 25px;
  bottom: 27px;
  left: 0;
  background-color: var(--color-white);
  height: 272px;
}
.home1 {
  margin: 0;
  font-weight: 500;
}
.home-about-programs-resources {
  position: absolute;
  top: calc(50% - 61px);
  left: calc(50% + 94.5px);
  line-height: 40px;
}
.group-item {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
}
.contact-us {
  position: absolute;
  top: calc(50% - 34.73px);
  left: 2px;
}
.privacy-policy {
  position: absolute;
  top: 0;
  left: 0;
}
.group-parent {
  position: absolute;
  top: calc(50% - 61px);
  right: 113px;
  width: 171px;
  height: 183.47px;
}
.group-div {
  position: absolute;
  top: calc(50% - 51px);
  left: 75px;
  width: 176px;
  height: 42px;
  background-image: url(./public/group-1116@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.this-web-site {
  position: absolute;
  bottom: 64px;
  left: calc(50% - 406.5px);
  font-size: var(--font-size-base);
  display: inline-block;
  width: 449px;
  height: 203px;
}
.component-32-12 {
  position: absolute;
  bottom: -1px;
  left: -31px;
  width: 1397px;
  height: 412px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
.group-inner {
  position: absolute;
  width: calc(100% - 2px);
  right: 0;
  bottom: 0;
  left: 2px;
  background: linear-gradient(90.08deg, #fff, #422d67);
  height: 1454px;
}
.mask-group-7,
.path-44-icon {
  position: absolute;
  width: calc(100% - 2px);
  top: 0;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 574.66px;
}
.path-44-icon {
  top: 476.73px;
  height: 0;
}
.highlights,
.see-past-highlights {
  position: absolute;
  text-transform: uppercase;
}
.highlights {
  top: 1631.73px;
  right: 581px;
  font-size: 40px;
  letter-spacing: 1.28px;
  line-height: 30px;
  font-weight: 600;
}
.see-past-highlights {
  top: calc(50% - 9.5px);
  left: 24px;
}
.see-past-highlights-wrapper {
  position: absolute;
  right: 1021px;
  bottom: 54px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.55);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 221px;
  height: 41.36px;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
}
.home-page-top-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 42, 43, 0.5);
  border: 1px solid #707070;
  box-sizing: border-box;
}
.path-49-icon {
  position: absolute;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  top: 0;
  right: -24px;
  bottom: -24px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rd {
  font-size: 23.1px;
  vertical-align: super;
}
.dec-23rd,
.pm-est {
  position: absolute;
  text-transform: uppercase;
}
.dec-23rd {
  margin: 0;
  top: 27px;
  left: calc(50% - 86.5px);
  letter-spacing: 1.76px;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
}
.pm-est {
  top: calc(50% - 68.5px);
  left: calc(50% - 55.5px);
  font-size: var(--font-size-lgi);
  letter-spacing: 0.61px;
}
.title-title-title {
  position: absolute;
  width: calc(100% - 94px);
  top: calc(50% - 12.5px);
  left: 48px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.8px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
}
.event-details {
  position: absolute;
  top: calc(50% - 10px);
  right: 23px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-source-sans-pro);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.event-details-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 0;
  background-color: var(--color-lightsteelblue-200);
  position: absolute;
  bottom: 32px;
  left: calc(50% - 93.5px);
  border-radius: var(--br-9xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
  width: 189px;
  height: 38px;
}
.right-hero-box {
  position: absolute;
  right: 120px;
  bottom: 79px;
  width: 477px;
  height: 315px;
}
.combining-expertise-for {
  margin: 0;
  position: absolute;
  top: calc(50% - 31px);
  left: 116.5px;
  font-size: inherit;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke: 1px #363636;
}
.hero-title {
  position: absolute;
  width: 100%;
  top: 38px;
  right: 0;
  left: 0;
  background-color: #3e3e3e;
  height: 105px;
  font-size: 47px;
  color: #fafafc;
}
.lorem-ipsum-dolor {
  position: absolute;
  width: calc(100% - 71px);
  top: 22px;
  left: 28px;
  display: inline-block;
  height: 188px;
}
.learn-more-about {
  margin: 0;
}
.learn-more-about-container {
  position: absolute;
  top: calc(50% - 20px);
  left: 18px;
  font-size: var(--font-size-base);
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-source-sans-pro);
  color: var(--color-darkslateblue-300);
  text-align: left;
}
.learn-more-about-the-bja-foren-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 0;
  background-color: var(--color-lightsteelblue-200);
  position: absolute;
  bottom: 21px;
  left: 28px;
  border-radius: var(--br-9xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
  width: 460px;
  height: 64px;
}
.left-hero-box {
  position: absolute;
  bottom: 79px;
  left: 109px;
  border-radius: 11px;
  background-color: var(--color-white);
  width: 589px;
  height: 315px;
  font-size: var(--font-size-lg);
}
.home-page-top-background-parent {
  position: absolute;
  width: calc(100% - 2px);
  top: 7.73px;
  right: 2px;
  left: 0;
  height: 576px;
  text-align: left;
  font-size: 42px;
  color: var(--color-darkslateblue-300);
  font-family: var(--font-poppins);
}
.tweets-from-forensictta {
  position: absolute;
  top: 45px;
  left: 20px;
  color: var(--color-darkslateblue-100);
}
.group-child1 {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.follow {
  position: absolute;
  top: 23px;
  right: 27px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-family: var(--font-source-sans-pro);
}
.lorem-ipsum-dolor1,
.post-title {
  position: absolute;
  top: 9px;
  left: 28.47px;
}
.lorem-ipsum-dolor1 {
  width: calc(100% - 67.47px);
  top: 38px;
  font-size: var(--font-size-sm);
  display: inline-block;
  height: 152px;
}
.line-div {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 55px);
  right: 0;
  left: -1px;
  border-top: 1px solid #746190;
  box-sizing: border-box;
  height: 2px;
}
.group-child2 {
  position: absolute;
  top: 48px;
  right: 6px;
  border-radius: var(--br-3xl);
  background-color: var(--color-lightsteelblue-200);
  width: 14px;
  height: 101px;
}
.post-title1 {
  position: absolute;
  top: calc(50% + 85.5px);
  left: 28.47px;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  width: calc(100% - 67.47px);
  bottom: 0;
  left: 28.47px;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
  display: inline-block;
}
.screen-shot-2023-04-27-at-123 {
  position: absolute;
  width: calc(100% - 68.47px);
  top: calc(50% - 61.5px);
  right: 40px;
  left: 28.47px;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 95px;
  object-fit: cover;
}
.path-22-icon {
  position: absolute;
  top: calc(50% - 62.5px);
  left: calc(50% + 94.27px);
  width: 0;
  height: 0;
}
.forensics-tta-logo-icon1,
.forensics-tta-logo-icon2 {
  position: absolute;
  top: calc(50% - 266.5px);
  left: 202.47px;
  width: 109px;
  height: 26px;
  object-fit: cover;
}
.forensics-tta-logo-icon2 {
  top: calc(50% + 76.5px);
  left: 195.47px;
  width: 116px;
  height: 28px;
}
.post-title-parent {
  position: absolute;
  height: calc(100% + 30px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -30px;
  left: 0;
}
.scroll-group-4 {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 182.74px);
  width: 359.47px;
  height: 503px;
  overflow-y: auto;
  mix-blend-mode: normal;
}
.group-child3 {
  position: absolute;
  width: calc(100% + 1.5px);
  top: 78.5px;
  right: 0;
  left: -1.5px;
  border-top: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  height: 4px;
}
.twitter-icon {
  position: absolute;
  top: calc(50% - 287px);
  left: calc(50% - 191.5px);
  width: 28.47px;
  height: 23.13px;
}
.tweets-from-forensictta-parent {
  position: absolute;
  top: calc(50% + 209.86px);
  right: 106px;
  border-radius: var(--br-9xl) 0 var(--br-9xl) 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 423px;
  height: 606px;
}
.lorem-ipsum-dolor3,
.post-title2 {
  position: absolute;
  top: 7px;
  left: 28.47px;
}
.lorem-ipsum-dolor3 {
  width: calc(100% - 67.47px);
  top: 36px;
  font-size: var(--font-size-sm);
  display: inline-block;
  height: 161px;
}
.group-child4 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 36px);
  right: 0;
  left: -1px;
  border-top: 1px solid #73608f;
  box-sizing: border-box;
  height: 2px;
}
.group-child5 {
  position: absolute;
  top: 46px;
  right: 6px;
  border-radius: var(--br-3xl);
  background-color: var(--color-lightsteelblue-200);
  width: 14px;
  height: 101px;
}
.post-title3 {
  position: absolute;
  top: calc(50% + 66.5px);
  left: 28.47px;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  width: calc(100% - 67.47px);
  bottom: 0;
  left: 28.47px;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.screen-shot-2023-04-27-at-126 {
  position: absolute;
  width: calc(100% - 68.47px);
  top: calc(50% - 80.5px);
  right: 40px;
  left: 28.47px;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 95px;
  object-fit: cover;
}
.path-22-icon1 {
  position: absolute;
  top: calc(50% - 81.5px);
  left: calc(50% + 94.27px);
  width: 0;
  height: 0;
}
.forensics-tta-logo-icon3,
.forensics-tta-logo-icon4 {
  position: absolute;
  top: calc(50% - 283.5px);
  left: 199.47px;
  width: 109px;
  height: 26px;
  object-fit: cover;
}
.forensics-tta-logo-icon4 {
  top: calc(50% + 57.5px);
  left: 192.47px;
  width: 116px;
  height: 28px;
}
.post-title-group {
  position: absolute;
  height: calc(100% + 66px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -66px;
  left: 0;
}
.scroll-group-41 {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 182.74px);
  width: 359.47px;
  height: 501px;
  overflow-y: auto;
  mix-blend-mode: normal;
}
.path-32-icon {
  position: absolute;
  width: calc(100% - 1.37px);
  top: 79.5px;
  right: 1px;
  left: 0.37px;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
}
.facebook-icon {
  position: absolute;
  top: calc(50% - 289.52px);
  left: calc(50% - 190.27px);
  width: 33.52px;
  height: 33.52px;
}
.live-facebook-feed {
  position: absolute;
  top: 50px;
  left: 22px;
  color: var(--color-darkslateblue-100);
}
.path-35-icon {
  position: absolute;
  height: calc(100% + 9px);
  width: calc(100% + 9px);
  top: 0;
  right: -9px;
  bottom: -9px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.follow1 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 13px;
  text-transform: uppercase;
}
.path-35-parent {
  position: absolute;
  top: 18px;
  right: 14px;
  width: 91px;
  height: 33px;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
}
.scroll-group-4-parent {
  position: absolute;
  right: 101px;
  bottom: 54px;
  border-radius: var(--br-9xl) 0 var(--br-9xl) 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 423px;
  height: 606px;
}
.title-title-title2 {
  font-size: var(--font-size-5xl);
  font-family: var(--font-open-sans);
}
.program-name2 {
  font-size: var(--font-size-xl);
}
.program-name1 {
  font-family: var(--font-open-sans);
}
.learn-more1 {
  text-decoration: underline;
}
.title-title-title-program-container {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 78px);
  left: 0;
  display: inline-block;
}
.title-title-title-program-name-container,
.title-title-title-program-name-wrapper {
  position: absolute;
  width: calc(100% - 5px);
  top: calc(50% + 25px);
  right: 0;
  left: 5px;
  height: 156px;
}
.title-title-title-program-name-container {
  top: calc(50% + 225px);
}
.title-title-title-program-name-frame {
  position: absolute;
  width: calc(100% - 5px);
  right: 0;
  bottom: 0;
  left: 5px;
  height: 156px;
}
.title-title-title-program-container3 {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  top: 0;
  left: 0;
  display: inline-block;
}
.title-title-title-program-name-wrapper1 {
  position: absolute;
  width: calc(100% - 5px);
  top: 0;
  right: 5px;
  left: 0;
  height: 160px;
}
.title-title-title-program-name-wrapper2 {
  position: absolute;
  width: calc(100% - 5px);
  top: calc(50% - 377px);
  right: 0;
  left: 5px;
  height: 156px;
}
.title-title-title-program-container5 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 78px);
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.title-title-title-program-name-wrapper3 {
  position: absolute;
  width: calc(100% - 5px);
  top: calc(50% - 177px);
  right: 0;
  left: 5px;
  height: 156px;
}
.component-24-11 {
  position: absolute;
  bottom: 145px;
  left: calc(50% - 393px);
  width: 495px;
  height: 1162px;
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
.prosecuting-cold-cases-icon {
  position: absolute;
  bottom: 192.11px;
  left: 126px;
  width: 110.5px;
  height: 110.52px;
}
.paul-coverdell-icon,
.postconviction-icon {
  position: absolute;
  left: 126.5px;
  width: 110px;
  height: 110px;
}
.postconviction-icon {
  top: calc(50% + 815.02px);
}
.paul-coverdell-icon {
  bottom: 389.14px;
}
.strengthening-the-mec-icon {
  position: absolute;
  top: calc(50% + 410.16px);
  left: 129px;
  width: 113.88px;
  height: 113.91px;
}
.cebr-icon,
.muhr-icon {
  position: absolute;
  top: calc(50% + 209.86px);
  left: 126px;
  width: 110.5px;
  height: 110.5px;
}
.muhr-icon {
  top: calc(50% + 611.93px);
  left: 129px;
  width: 113px;
  height: 113px;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.programs2 {
  margin: 0;
  position: absolute;
  top: 16.07px;
  left: calc(50% - 132px);
  font-size: 45px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-darkslateblue-300);
}
.program-name18 {
  position: absolute;
  top: calc(50% - 72.02px);
  left: calc(50% - 96.5px);
  font-size: var(--font-size-6xl);
  text-align: center;
}
.lorem-ipsum-dolor5 {
  position: absolute;
  width: calc(100% - 55px);
  top: calc(50% - 18.04px);
  left: 28px;
  line-height: 20px;
  display: inline-block;
}
.path-37-icon {
  position: absolute;
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  top: 0;
  right: -12px;
  bottom: -12px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.read-more {
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% - 42.5px);
  text-transform: uppercase;
}
.path-37-parent {
  position: absolute;
  bottom: 30.04px;
  left: calc(50% - 93.5px);
  width: 187px;
  height: 35px;
  color: var(--color-darkslateblue-300);
  font-family: var(--font-source-sans-pro);
}
.path-57 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b0a7c6;
}
.cebr,
.path-57,
.path-58 {
  position: absolute;
}
.path-58 {
  height: calc(100% - 36.54px);
  top: 18.3px;
  bottom: 18.23px;
  left: calc(50% - 23.47px);
  background-color: #000;
  width: 46.96px;
}
.cebr {
  top: 0;
  left: calc(50% - 56px);
  width: 113px;
  height: 113px;
}
.program-name-parent {
  position: absolute;
  top: 107.07px;
  left: 135px;
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  border: 4px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 345px;
  height: 395.96px;
}
.strengthening-the-mec-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 55.5px);
  width: 113px;
  height: 113px;
}
.program-name-group {
  position: absolute;
  top: 107.07px;
  left: calc(50% - 165px);
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  border: 4px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 345px;
  height: 395.96px;
}
.program-name20 {
  position: absolute;
  top: calc(50% - 71.52px);
  left: calc(50% - 96.5px);
  font-size: var(--font-size-6xl);
  text-align: center;
}
.lorem-ipsum-dolor7 {
  position: absolute;
  width: calc(100% - 55px);
  top: calc(50% - 17.54px);
  left: 28px;
  line-height: 20px;
  display: inline-block;
}
.muhr-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 58.5px);
  width: 113px;
  height: 113px;
}
.program-name-container {
  position: absolute;
  top: 106.07px;
  right: 120px;
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  border: 4px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 345px;
  height: 396.96px;
}
.path-30-icon {
  position: absolute;
  height: calc(100% - 36.92px);
  width: calc(100% + 18px);
  top: 54.92px;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.program-name21 {
  position: absolute;
  top: calc(50% - 71.98px);
  left: calc(50% - 96.5px);
  font-size: var(--font-size-6xl);
  text-align: center;
}
.read-more3 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 46.5px);
  text-transform: uppercase;
}
.path-38-parent {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 93.5px);
  width: 187px;
  height: 35px;
  color: var(--color-darkslateblue-300);
  font-family: var(--font-source-sans-pro);
}
.lorem-ipsum-dolor8 {
  position: absolute;
  width: calc(100% - 55px);
  top: calc(50% - 23px);
  left: 28px;
  line-height: 20px;
  display: inline-block;
}
.postconviction-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 56px);
  width: 110px;
  height: 110px;
}
.path-30-parent {
  position: absolute;
  bottom: 84.11px;
  left: 135px;
  width: 345px;
  height: 395.92px;
}
.path-30-icon1 {
  position: absolute;
  height: calc(100% - 34.92px);
  width: calc(100% + 18px);
  top: 52.92px;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.program-name22 {
  position: absolute;
  top: calc(50% - 72.98px);
  left: calc(50% - 96.5px);
  font-size: var(--font-size-6xl);
  text-align: center;
}
.lorem-ipsum-dolor9 {
  position: absolute;
  width: calc(100% - 55px);
  top: calc(50% - 24px);
  left: 28px;
  line-height: 20px;
  display: inline-block;
}
.paul-coverdell-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 55px);
  width: 110px;
  height: 110px;
}
.path-30-group {
  position: absolute;
  bottom: 84.11px;
  left: calc(50% - 165px);
  width: 345px;
  height: 393.92px;
}
.path-30-icon2 {
  position: absolute;
  height: calc(100% - 37.92px);
  width: calc(100% + 18px);
  top: 55.92px;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.program-name23 {
  position: absolute;
  top: calc(50% - 71.48px);
  left: calc(50% - 96.5px);
  font-size: var(--font-size-6xl);
  text-align: center;
}
.lorem-ipsum-dolor10 {
  position: absolute;
  width: calc(100% - 55px);
  top: calc(50% - 22.5px);
  left: 28px;
  line-height: 20px;
  display: inline-block;
}
.prosecuting-cold-cases-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 58.48px);
  width: 112.98px;
  height: 113px;
}
.path-30-container {
  position: absolute;
  right: 120px;
  bottom: 84.11px;
  width: 345px;
  height: 396.92px;
}
.group-container,
.rectangle-parent {
  position: absolute;
  left: 0;
  text-align: left;
  font-family: var(--font-poppins);
}
.group-container {
  width: calc(100% - 2px);
  top: calc(50% - 947.14px);
  right: 2px;
  height: 1010px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.rectangle-parent {
  top: 146.27px;
  width: 1368px;
  height: 3033.73px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue-300);
}
.home-page-option-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3591px;
  cursor: pointer;
}
